<section id="custom-404-page">
    <div class="custom-404-page-container">        
        <div class="custom-404-desc-div">
            <span>Oops! Page</span>
            <span>Not Found.</span>
            <span><i class="far fa-frown-open"></i></span>
            <span>It appears the page you're looking of is empty</span>
        </div>
        <div class="custom-404-image-div"></div>
    </div>
</section>