<!-- This is the body content for the 404 Page -->

<section id="custom-404-page">
    <div class="custom-404-page-container">        
        <div class="custom-404-desc-div">
            <span class="joke">Oops! Page</span>
            <span class="joke">Not Found.</span>
            <span class="joke">It appears the page you're looking for is empty</span>
            <span class="joke"></span>
            <span><i class="far fa-frown"></i></span>
        </div>
        <div class="custom-404-image-div"></div>
    </div>
</section>