<section>
    <div id="contact-container">
        <div class="contact-content">
            <div class="contact-h">
                <span>Contact Us</span>
                <span>Please fill in the fields below.</span>
                <span>* Required Fields</span>
            </div>
            <div class="contact-form">
                <div class="input_field">
                    <label>Attention:*</label> 
                    <select class="select">
                        <option value="default" selected disabled>-</option>
                        <option value="export">Export</option>
                        <option value="marketing">Marketing</option>
                        <option value="production">Production</option>
                        <option value="office">Office</option>
                    </select>
                </div>
                <div class="input_field">
                    <label>Name:*</label>
                    <input type="text" class="input" required>
                </div>
                <div class="input_field">
                    <label>Email:*</label>
                    <input type="email" class="input" required>
                </div>
                <div class="input_field">
                    <label>Telephone:</label>
                    <input type="text" class="input">
                </div>
                <div class="input_field">
                    <label>Message:*</label>
                    <textarea class="textarea"></textarea>
                </div>
                <div class="input_field">
                    <label>Attach file:</label>
                    <input type="file" class="input">
                </div>
                <div class="input_field">
                    <label>Please, enter the code below:*</label>
                    <input type="text" class="input">
                </div>
                <div class="input_field code">
                    <label></label>
                    <span id="capt"></span>
                    <span id="capt_btn"><i class="fas fa-redo"></i></span>
                </div>
                <div class="input_field">
                    <label class="check">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label> 
                    <p>Email</p>
                </div>
                <div class="input_field">
                    <label class="check">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label> 
                    <p>Phone</p>
                </div>
                <div class="input_field terms">
                    <label class="check">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label> 
                    <p>By checking, you accept our <span class="highlight">Privacy and Cookie Notice</span> and <span class="highlight">Conditions of Use *</span></p>          
                </div>
                <div class="input_field">
                    <input type="submit" value="Submit" class="form_btn">
                </div>
            </div>
        </div>
    </div>
</section>