<!-- This is the body content for the Crafting Page -->

<section>
    <div class="crafting-grid-row-1">
        <div class="crafting-g-l">
            <div class="g-1-content">
                <span class="joke">Technology</span>
                <span class="joke">Korean Soju</span>
                <span class="joke">Handpicked and selected oranges maceration (soaked) in water-alcohol mixture to a specific time in a special handmade soju in distillation at the foot of the Esteren Rhodopes</span>
                <div class="crafting-g-img"></div>
                <span class="ft joke">Own selected fresh and aromatic juniper oranges</span>               
                <div class="crafting-btn-div down-arrow">
                    <a class="crafting-btn" href="#section-2"><i class="fas fa-chevron-down"></i></a>
                </div>
            </div>            
        </div>
        <div class="crafting-g-r"></div>
    </div>
</section>
<section id="section-2">
    <div class="crafting-grid-row-2">
        <div class="crafting-g-r"></div>
        <div class="crafting-g-l">
            <div class="g-1-content">
                <span class="joke">Destylery</span>
                <span class="joke">Korean Soju</span>
                <span class="joke">After the 48 hour steeping process, the stills are gently heated. The botanical infused spirit changes form - from liquid to vapour and then back into liquid once again. As this seven hour process occurs, different botanicals release their flavours at different times.</span>
                <div class="crafting-g-img"></div>
                <span class="ft">After the 48 hour steeping process, the stills are gently heated...</span>               
                <div class="crafting-btn-div dark-down-arrow">
                    <a class="crafting-btn" href="#section-3"><i class="fas fa-chevron-down"></i></a>
                </div>
            </div>            
        </div>        
    </div>
</section>
<section id="section-3">
    <div class="crafting-grid-row-3">        
        <div class="crafting-g-l">
            <div class="g-1-content">
                <span class="joke">Destylery</span>
                <span class="joke">Korean Soju</span>
                <span class="joke">Intensity and purity of flavor look after the best specialists on the balance of Sojus distillate and pure grain alcohol</span>
                <div class="crafting-g-img"></div>
                <span class="ft joke">Our Master Distiller has to decide when to make the final cut</span>               
                <div class="crafting-btn-div down-arrow">
                    <a class="crafting-btn" href="#section-4"><i class="fas fa-chevron-down"></i></a>
                </div>
            </div>            
        </div> 
        <div class="crafting-g-r"></div>       
    </div>
</section>
<section id="section-4">
    <div class="crafting-grid-row-4">        
        <div class="grid-row-4-content">
            <div class="crafting-g-l">
                <div class="g-l-content">
                    <span class="h joke">And all this in best traditions of</span>
                    <span class="d joke">Korean Soju</span>
                    <div class="g-l-btn-div">
                        <div class="g-l-btn-l">
                            <a href="/product">
                                <span>pro</span>
                                <span>duc</span>
                                <span>ts<span class="ext">view</span></span>
                            </a>
                        </div>
                        <div class="g-l-btn-r">
                            <a href="/sense">
                                <span>sen</span>
                                <span>se<span class="ext">of</span></span>
                                <span>kor</span>
                            </a>
                        </div>
                    </div>
                </div>                       
            </div> 
            <div class="crafting-g-r"></div>     
        </div>  
    </div>
</section>