<!-- Home Page -->
<section id="home-showcase">
    <div class="home-container">
        <div class="home-content grid-left">
          <div class="grid-top">
              <span class="span-top">It's</span>
              <span class="span-mid">SOJU</span>
              <span class="span-bot">time</span>
              <span class="span-soju">KOREAN GIN</span>
          </div>
          <div class="grid-middle"></div>
          <div class="grid-bottom"></div>
        </div>  
        <div class="home-content grid-right"></div>
    </div>
</section>
<section id="home-second-grid">
    <div class="home-second-grid-container">
        <div class="home-second-grid-left">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, nemo.
        </div>
        <div class="home-second-grid-right">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, nulla!
        </div>
    </div>
</section>