<!-- Home Page -->
<section id="home-showcase">
    <div class="home-container">
        <div class="home-content grid-left">
          <div class="grid-top">
              <span class="span-top">It's</span>
              <span class="span-mid">SOJU</span>
              <span class="span-bot">time</span>
              <span class="span-soju">KOREAN SOJU</span>
          </div>
          <div class="grid-middle">
              <a class="linkBtn" href="#">              
                <span class="row1">pro</span>
                <span class="row2">duc</span>                 
                <span class="row3">ts<span style="font-size: 20px; letter-spacing: 0; margin-left: 25px;">view</span></span>
              </a>
          </div>
          <div class="grid-bottom">
              <div class="image-div"></div>  
              <div class="description-div">
                  <span class="h">crafting</span>
                  <span class="d">The creation of soju is an art which we turned</span>
                  <span class="d">into craft</span>
              </div> 
              <div class="button-div down-arrow"><a href="#"><i class="fas fa-chevron-down"></i></a></div>
          </div>
        </div>  
        <div class="home-content grid-center">
            <div class="scroll-div">
                <span>scroll</span>
                <div class="scroll-btn-div down-arrow">
                    <a href="#"><i class="fas fa-chevron-down"></i></a>
                </div>
            </div>  
        </div>
        <div class="home-content grid-right"></div>
        
    </div>    
</section>
<section id="home-second-grid">
    <div class="home-second-grid-container">
        <div class="home-second-grid-left">
            
        </div>
        <div class="home-second-grid-right">
            
        </div>
    </div>
</section>
<section id="home-third-grid">
    <div class="home-third-grid-container">

    </div>
</section>
<section id="home-fourth-grid">
    <div class="home-fourth-grid-container">
        
    </div>
</section>