<!-- This is the body content for the Mixology Page -->

<section id="mixology-showcase">
    <div class="mixology-container">
        <div class="mixology-container-t">
            <span>Mixology</span>
            <span class="joke">Sensationally Exciting - Korean Soju</span>
        </div>
        <div class="mixology-container-b">
            <div class="mixology-container-b-content">
                <div class="mix-1 mix-img">
                    <div class="mix-btn">
                        <a href="#">
                            <span>sen</span>
                            <span>se</span>
                            <span>Orange</span>
                        </a>
                    </div>
                </div>
                <div class="mix-2 mix-img">
                    <div class="mix-btn">
                        <a href="#">
                            <span>sen</span>
                            <span>se</span>
                            <span>Red</span>
                        </a>
                    </div>
                </div>
                <div class="mix-3 mix-img">
                    <div class="mix-btn">
                        <a href="#">
                            <span>sen</span>
                            <span>se</span>
                            <span>Scarlet</span>
                        </a>
                    </div>
                </div>
                <div class="mix-4 mix-img">
                    <div class="mix-btn">
                        <a href="#">
                            <span>sen</span>
                            <span>se</span>
                            <span>Yellow</span>
                        </a>
                    </div>
                </div>
                <div class="mix-5 mix-img">
                    <div class="mix-btn">
                        <a href="#">
                            <span>sen</span>
                            <span>se</span>
                            <span>Blue</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/mixology.js"></script>    
