<!-- This is the body content for the Production Page -->

<section id="product-showcase">
    <div class="product-container">
        <div class="product-content grid-left">
           <div class="logo-div">
               <span>7th</span>
               <span>sense</span>
               <span>Relax in style with this exquisite drink, produced according to the good traditions of Korean Soju</span>
               <span>Korean Soju</span>
            </div>
            <div class="b-div">
               <a href="#product-second-grid-row"><i class="fas fa-chevron-down"></i></a>
            </div>
        </div>
        <div class="product-content grid-middle"></div>
        <div class="product-content grid-right">
           <div class="d-div">  
               <div class="upper">
                   <span>14.5</span>
                   <span>%</span>
               </div>            
               <div class="lower">
                    <span>Original recipe <br> Authentic refreshing <br> taste of the finest <br> juniper peaches</span>
               </div>               
           </div>
           <div class="stamp-div">
                <span><i class="fas fa-award"></i></span>
                <span><i class="fas fa-award"></i></span>
                <span><i class="fas fa-award"></i></span>
            </div>
        </div>       
    </div>
</section>
<section id="product-second-grid-row">
    <div class="product-second-grid-row-container">
        <div class="product-second-grid-row-content">
            <div class="second-grid-row-l">
                <div class="product-second-grid-row-l-t">
                    <span>Korean Soju</span>
                    <span>Relax in style with this exquisite drink, produced according to the good traditions of Korean Soju. True to the original recipe, we manufacture our soju by multiple distillation of an infusion of carefully selected fruit of aromatic peach and pure grain ethyl alcohol</span>
                </div>
                <div class="product-second-grid-row-l-b">
                    <div class="row-l-b-l">
                        <div class="icon"></div>                        
                    </div>
                    <div class="row-l-b-r">
                       <span>7th</span>
                       <span>Sense</span>
                       <span>Korean Soju</span>
                       <span>ON and OFF trade</span>
                       <span>package size</span>
                    </div>
                </div>
            </div>
            <div class="second-grid-row-r"></div>
        </div>
    </div>
</section>
<section id="home-second-grid-row">
    <div class="home-second-grid-row-container">
        <div class="home-second-grid-row-left">
            <div class="btn-div">
                <a class="row2-btn" href="/sense">              
                    <span class="row1">sen</span>
                    <span class="row2">se <span class="row2-1">of</span></span>
                    <span class="row3">kor</span>   
                  </a>
            </div>
            <div class="desc-div">
                <span>View the 6 sense of Korea</span>
            </div>
        </div>
        <div class="home-second-grid-row-right">
            <div class="g-left">
                <div class="btn-div">
                    <a href="/crafting">
                        <div class="upper">
                            <span>Crafting</span>
                        </div>
                        <div class="lower">
                            <div class="l">
                                <span>See</span>
                                <span>How We</span>
                                <span>Make</span>
                                <span>Soju</span>
                            </div>                             
                            <div class="r"></div>
                        </div>      
                    </a>
                </div>                
                <div class="desc-div">
                    <span>Korean Soju created by unique installation for korean peaches infusion</span>
                </div>
            </div>
            <div class="g-right"></div>
        </div>
    </div>
</section>
<section id="home-third-grid-row">
    <div class="home-third-grid-row-container">
        <div class="home-third-grid-row-left">
            <div class="mix-dev">
                <span>Mixology</span>
            </div>
        </div>
        <div class="home-third-grid-row-center"></div>
        <div class="home-third-grid-row-right">
            <div class="coct-div">
                <span class="h">View the 6 sense of Korea</span>
                <span class="h2">Sensationally Exciting - Korean Soju</span>
                <a href="/mixology" class="coct-btn">
                    <span>cocktails</span>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="home-fourth-grid-row">
    <div class="home-fourth-grid-row-container">
        <div class="home-fourth-grid-row-content">
            <span class="h">Soju</span>
            <span class="h2">View the 6 sense of Korea</span>
            <span class="h3">Pure grain alcohol, redistilled in the presense of natural ingredients</span>
            <a class="contact-btn" href="/contact">Contact Us</a>
        </div>        
    </div>
</section>