<!-- This is the body content for the Sense Page -->

<div id="sense-container">
  <section id="sense-showcase">
    <div class="bg-video">
     <video autoplay muted loop id="sense-bg">
       <source src="/mp4/sense-bg.mp4" type="video/mp4">
       Your browser does not support HTML5 video.
     </video>
    </div>
    <div class="content">
      <span>See</span>
      <span>Korean Soju</span>
      <span>Everyday is a new adventure.</span>
      <span>The city is waiting for you to explore</span>
    </div>
    <div class="nav-diagram">
      <div class="nav-tag">
        <span class="active">see -</span>
        <span>hear -</span>
        <span>touch -</span>
        <span>smell -</span>
        <span>taste -</span>
        <span>intuition -</span>
      </div>
      <div class="nav-image"></div>
    </div>
 </section>
 
 <section id="sense-showcase">
   <div class="bg-video-r-2">
    <video autoplay muted loop id="sense-bg">
      <source src="/mp4/sense-bg-2.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
   </div>
    <div class="content">
      <span>Hear</span>
      <span>Korean Soju</span>
      <span>Follow your heart to the rhythms of life.</span>
      <span>It will take you wonder by wonder.</span>
    </div>
    <div class="nav-diagram">
      <div class="nav-tag">
        <span>see -</span>
        <span class="active">hear -</span>
        <span>touch -</span>
        <span>smell -</span>
        <span>taste -</span>
        <span>intuition -</span>
      </div>
      <div class="nav-image"></div>
    </div>
 </section>
 
 <section id="sense-showcase">
   <div class="bg-video-r-3">
    <video autoplay muted loop id="sense-bg">
      <source src="/mp4/sense-bg-3.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
   </div>
    <div class="content">
      <span>Touch</span>
      <span>Korean Soju</span>
      <span>Awaken you senses to pleasure.</span>
      <span>Let your touch be the guide.</span>
    </div>
    <div class="nav-diagram">
      <div class="nav-tag">
        <span>see -</span>
        <span>hear -</span>
        <span class="active">touch -</span>
        <span>smell -</span>
        <span>taste -</span>
        <span>intuition -</span>
      </div>
      <div class="nav-image"></div>
    </div>
 </section>
 
 <section id="sense-showcase">
   <div class="bg-video-r-4">
    <video autoplay muted loop id="sense-bg">
      <source src="/mp4/sense-bg-4.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
   </div>
    <div class="content">
      <span>Smell</span>
      <span>Korean Soju</span>
      <span>Smell the exotic scent of juniper oranges.</span>
      <span>Life is about the little moments. Cherish them all</span>
    </div>
    <div class="nav-diagram">
      <div class="nav-tag">
        <span>see -</span>
        <span>hear -</span>
        <span>touch -</span>
        <span class="active">smell -</span>
        <span>taste -</span>
        <span>intuition -</span>
      </div>
      <div class="nav-image"></div>
    </div>
 </section>
 
 <section id="sense-showcase">
   <div class="bg-video-r-5">
    <video autoplay muted loop id="sense-bg">
      <source src="/mp4/sense-bg-5.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
   </div>
    <div class="content">
      <span>Taste</span>
      <span>Korean Soju</span>
      <span>Taste the exquisite flavor of desire.</span>
      <span>Live life with no fear. Enjoy every moment.</span>
    </div>
    <div class="nav-diagram">
      <div class="nav-tag">
        <span>see -</span>
        <span>hear -</span>
        <span>touch -</span>
        <span>smell -</span>
        <span  class="active">taste -</span>
        <span>intuition -</span>
      </div>
      <div class="nav-image"></div>
    </div>
 </section>
 
 <section id="sense-showcase">
   <div class="bg-video-r-6">
    <video autoplay muted loop id="sense-bg">
      <source src="/mp4/sense-bg-6.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
   </div>
    <div class="content">
      <span>Intuituion</span>
      <span>Korean Soju</span>
      <span>Believe in yourself like no one is watching.</span>
      <span>Make a wish. Follow a hunch. Be the hero</span>
    </div>
    <div class="nav-diagram">
      <div class="nav-tag">
        <span>see -</span>
        <span>hear -</span>
        <span>touch -</span>
        <span>smell -</span>
        <span>taste -</span>
        <span class="active">intuition -</span>
      </div>
      <div class="nav-image"></div>
    </div>
 </section>
</div>

<script src="/js/sense.js"></script>