:root {
  --primary-color: #006400;
  --second-primary-color: #228b22;
  --secondary-color: #87cefa;
  --light-color: #f3f3f3;
  --lighter-color: #fff;
  --dark-color: #333;
  --darker-color: #191919;
  --grey-color: #BEBEBE;
  --light-grey-color:#D3D3D3;
  --dark-grey-color: #3a3944;
  --transparent-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font */
  line-height: 1.5;
  background: var(--darker-color);
}

a {
  color: var(--light-color);
  text-decoration: none;
}

img {
  width: 100%;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* Utility */
.container {
  max-width: var(--max-width);
  margin: auto;
  overflow: hidden;
}

.linkBtn {
  background: transparent;
  border: 8px solid var(--primary-color);
  padding: 15px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 15px;
  color: var(--lighter-color);
  margin: auto;
  display: flex;
  flex-direction: column;
  transition: border linear 0.3s;
}

.linkBtn:hover {
  border: 8px solid var(--lighter-color);
  transition: border linear 0.3s;
}

.down-arrow {
  font-size: 30px;
  border: 2px solid var(--lighter-color);
  border-radius: 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.down-arrow:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.dark-down-arrow {
  font-size: 30px;
  border: 2px solid var(--dark-color);
  border-radius: 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.dark-down-arrow:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

/* Navigation */
.logo {
  position: fixed;
  top: 35px;
  left: 35px;
  z-index: 7;
}

.logo img {
  border: 0;
  width: 140px;
  height: 70px;
}

.social {
  position: fixed;
  top: 35px;
  right: 0px;
  margin-right: 50px;
  z-index: 5;
  color: var(--lighter-color);
  height: 30px;
}

.social .label {
  line-height: 30px;
  float: left;
  margin-right: 20px;
  letter-spacing: 3px;
  font-size: 12px;
}

.social a:not(:last-child) {
  margin-right: 5px;
}

.social a:hover {
  color: var(--primary-color);
  transition: 0.3s 0s color ease-in-out;
}

.condition-of-use-link {
  position: fixed;
  top: 70px;
  right: 0px;
  margin-right: 50px;
  font-size: 12px;
  letter-spacing: 3px;
}

.condition-of-use-link:hover {
  color: var(--primary-color);
  transition: 0.3s 0s color ease-in-out;
}

.signature {
  position: fixed;
  bottom: 35px;
  right: 50px;
  display: block;
  font-size: 12px;
  letter-spacing: 3px;
  color: var(--lighter-color);
  z-index: 10;
}

.signature span:last-child {
  color: var(--second-primary-color);
}

.condition-of-use-link.opened,
.signature.opened {
  display: none;
}

.nav {
  top: 280px;
  left: 35px;
  position: fixed;
  z-index: 3;
  color: var(--lighter-color);
  width: 250px;
  display: none;
}

.nav .link {
  margin-bottom: 2.4vh;
  display: block;
  color: var(--lighter-color);
  opacity: 0;
}

.nav.visible .link {
  animation: appear 0.5s forwards ease 1s;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.nav .link .active {
  color: var(--primary-color);
}

.nav .link:hover * {
  color: var(--primary-color);
  transition: 0.3s 0s color ease-in-out;
}

.nav h3 {
  display: block;
  font-size: 45px;
  line-height: 1;
  padding: 0;
  margin: 0 0 1%;
  font-weight: 400;
}

.nav .short-text {
  color: var(--dark-grey-color);
  font-size: 17px;
  line-height: 1;
  width: 80%;
  display: block;
  margin: 0;
  letter-spacing: 3px;
}

/* Menu Button */
.menu-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 145px;
  left: 75px;
  width: 50px;
  height: 50px;
  z-index: 4;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid var(--primary-color);
}

.menu-button_burger {
  width: 25px;
  height: 2px;
  background: var(--primary-color);
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: 0.3s all ease-in-out;
}

.menu-button_burger::before,
.menu-button_burger::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  background: var(--primary-color);
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: 0.3s all ease-in-out;
}

.menu-button_burger::before {
  transform: translateY(-7px);
}

.menu-button_burger::after {
  transform: translateY(7px);
}

/* Menu Button Animation */
.menu-button.opened .menu-button_burger {
  transform: translateX(-42.5px);
  background: transparent;
  box-shadow: none;
}

.menu-button.opened .menu-button_burger::before {
  transform: rotate(45deg) translate(30px, -30px);
}

.menu-button.opened .menu-button_burger::after {
  transform: rotate(-45deg) translate(30px, 30px);
}

.menu-button:hover {
  width: 52px;
  height: 52px;
  left: 74px;
  top: 144px;
}

.total-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  transition: 1s 0s opacity ease-in-out;
  opacity: 1;
  position: fixed;
}

.total-wrapper.animate {
  /* matrix3d animation from => http://ds-overdesign.com/transform/matrix3d.html */
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: center center 0px;
  transition: all 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.4s;
  width: 100%;
  height: 100vh;
}

.total-wrapper.opened {
  /* matrix3d animation from => http://ds-overdesign.com/transform/matrix3d.html */
  transform: matrix3d(0.6, 0, 0, 0, 0, 0.6, 0, 0, 0, 0, 1, 0, 180, -10, 0, 1);
  transform-origin: center center 0px;
  transition: all 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.4s;
  opacity: 0.5;
  height: 100%;
  width: 100%;
}

.total-wrapper.opened:hover {
  opacity: 1;
  transition: 0.5s opacity ease-in-out;
}

/* 404 */
#custom-404-page {
  background: var(--light-grey-color);
  width: 100%;
  height: 100vh;
  display: flex;
}

#custom-404-page .custom-404-page-container {  
  width: 60%;
  height: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}

#custom-404-page .custom-404-page-container .custom-404-desc-div { 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

#custom-404-page .custom-404-page-container .custom-404-desc-div span:first-child,
#custom-404-page .custom-404-page-container .custom-404-desc-div span:nth-child(2) {
  color: var(--primary-color);
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: -30px;
}

#custom-404-page .custom-404-page-container .custom-404-desc-div span:nth-child(3) {
  width: 60%;
  font-size: 20px;
  letter-spacing: 5px;
  margin-top: 40px;
  margin-bottom: 20px;
}

#custom-404-page .custom-404-page-container .custom-404-desc-div span:last-child {
  color: var(--primary-color);
  font-size: 100px;
}

#custom-404-page .custom-404-page-container .custom-404-image-div {
  width: 100%;
  height: 100%;
  background: url(/img/404.png) no-repeat center center/contain;
}

/* Home */
#home-showcase {
  color: var(--lighter-color);
  background: var(--dark-color);
  padding: 2rem;
  position: relative;
}

#home-showcase:before {
  content: '';
  background: url(/img/home-bg-2.png) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  filter: blur(10px);
}

#home-showcase .home-container {
  display: grid;
  grid-template-columns: 1.495fr 0.01fr 1.495fr;
  height: 1800px;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
}

#home-showcase .home-content {
  z-index: 1;
}

#home-showcase .home-container .grid-left {
  background-color: var(--transparent-color);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

#home-showcase .home-container .grid-left .grid-top,
#home-showcase .home-container .grid-left .grid-middle,
#home-showcase .home-container .grid-left .grid-bottom {
  width: 500px;
  height: 500px;
}

#home-showcase .home-container .grid-left .grid-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home-showcase .home-container .grid-left .grid-top .span-top {
  font-size: 100px;
  color: var(--primary-color);
  justify-content: center;
  margin-bottom: -90px;
}

#home-showcase .home-container .grid-left .grid-top .span-mid {
  font-size: 200px;
}

#home-showcase .home-container .grid-left .grid-top .span-bot {
  font-size: 100px;
  justify-content: center;
  margin-top: -90px;
}

#home-showcase .home-container .grid-left .grid-top .span-soju {
  font-size: 30px;
  background-color: var(--primary-color);
  padding: 2px 7px 0px 7px;
  margin-top: -10px;
}

#home-showcase .home-container .grid-left .grid-middle {
  display: flex;
}

#home-showcase .home-container .grid-left .grid-middle .row1,
#home-showcase .home-container .grid-left .grid-middle .row2,
#home-showcase .home-container .grid-left .grid-middle .row3 {
  color: var(--lighter-color);
  font-size: 90px;
  margin-top: -30px;
  margin-bottom: -30px;
}

#home-showcase .home-container .grid-left .grid-middle .row3-1 {
    font-size: 20px; 
    letter-spacing: 0; 
    margin-left: 25px;
}

#home-showcase .home-container .grid-left .grid-bottom {
  display: flex;
  flex-direction: column;
}

#home-showcase .home-container .grid-left .grid-bottom .image-div {
  margin: auto;
  margin-top: 0;
  align-items: center;
  justify-content: center;
  background: url(/img/home-bg-production.jpg) no-repeat center center/contain;
  opacity: 0.7;
  border-radius: 30%;
  width: 300px;
  height: 250px;
}

#home-showcase .home-container .grid-left .grid-bottom .description-div {
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 120px;
  display: flex;
  flex-direction: column;
}

#home-showcase .home-container .grid-left .grid-bottom .description-div .h {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: -10px;
}

#home-showcase .home-container .grid-left .grid-bottom .description-div .d {
  text-align: center;
  font-size: 18px;
}

#home-showcase .home-container .grid-left .grid-bottom .button-div {
  display: flex;
  width: 80px;
  height: 80px;
}

#home-showcase .home-container .grid-center {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

#home-showcase .home-container .grid-center .scroll-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 100%;
  height: 100%;
}

#home-showcase .home-container .grid-center .scroll-div span {
  font-size: 30px;
  letter-spacing: 5px;
}

#home-showcase .home-container .grid-center .scroll-btn-div {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-showcase .home-container .grid-right {
  background: url(/img/home-bg-soju.png) no-repeat center center/contain;
  background-color: var(--transparent-color);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#home-second-grid-row,
#home-third-gri-row,
#home-fourth-grid-row {
  color: var(--lighter-color);
  background: var(--dark-color);
  padding: 0;
  margin: 0;
  position: relative;
}

#home-second-grid-row .home-second-grid-row-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  width: 100%;
}

#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-left::before {
    content: "";
}

#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-left {
    background: url(/img/home-bg-senses.png) no-repeat center center/cover;
  width: 100%;
  height: 100%;  
  display: flex;
  flex-direction: column;  
  margin: auto;
  align-items: center;
  justify-content: center;
}

#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-left 
.btn-div {
    width: 300px;
    height: 300px;
    display: flex;    
    border: 8px solid var(--primary-color); 
    transition: border linear 0.3s;     
}

#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-left 
.btn-div:hover {
    border: 8px solid var(--lighter-color);      
    transition: border linear 0.3s;
}

#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-left 
.btn-div .row2-btn {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
}

#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-left 
.btn-div .row2-btn .row1, 
#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-left 
.btn-div .row2-btn .row2, 
#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-left 
.btn-div .row2-btn .row3 {
    color: var(--light-color);
    font-size: 100px;    
    text-transform: uppercase;
    margin: 0;    
} 

#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-left 
.btn-div .row2-btn .row2-1 {
    font-size: 30px;
}

#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-left 
.btn-div .row2-btn span:not(:last-child) {
    margin-bottom: -75px;  
}

#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-left .desc-div {
    width: 80%;
    height: 50px;
    margin-top: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-left .desc-div span {
    color: var(--light-color);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-right {
    background: url(/img/home-bg-fact.png) no-repeat center center/cover;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;    
    width: 100%;
    height: 100%;  
}

#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-right .g-left {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: var(--darker-color);
}

#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-right .btn-div {  
    width: 310px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-right .g-left .btn-div a {
    color: var(--darker-color);    
    text-decoration: none;
    text-transform: uppercase;
    border: 8px solid var(--primary-color); 
    padding: 20px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 0.4fr 1.6fr;
    transition: border linear 0.3s;
}

#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-right .g-left .btn-div a:hover {
    border: 8px solid var(--darker-color);      
    transition: border linear 0.3s;
}

#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-right .g-left .btn-div a .upper {
    border-bottom: 5px solid var(--primary-color);
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;   
    padding: 0;  
    margin-bottom: 20px;
    margin-top: -20px;
}

#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-right .g-left .btn-div a .lower {
    display: grid;
    grid-template-columns: 1.45fr 0.65fr;
}

#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-right .g-left .btn-div a .lower .l {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 1.7;
    letter-spacing: 3px;      
    margin-left: 0;
}

#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-right .g-left .btn-div a .lower .l span:nth-child(3) {
    background: var(--primary-color);
    color: var(--lighter-color);
}

#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-right .g-left .btn-div a .lower .r {
    background: url(/img/home-bg-soju-btn.png) no-repeat center center/cover;
}

#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-right .g-left .desc-div {
    display: flex;
    width: 100%;
    height: 80px;
}

#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-right .g-left .desc-div span {
    width: 100%;
    color:var(--darker-color);
    font-size: 15px;
    letter-spacing: 3px; 
    justify-content: center;
    align-items: center;
    margin-left: 10px;    
}

#home-second-grid-row
.home-second-grid-row-container
.home-second-grid-row-right .g-right {   
    background: url(/img/home-bg-soju.png) no-repeat center center/contain;
    border-radius: 10%;        
}

#home-third-grid-row .home-third-grid-row-container {
  display: grid;
  grid-template-columns: 1.2fr 0.6fr 1.2fr;
  background-color: var(--second-primary-color);
  height: 100vh;
  width: 100%;
}

#home-third-grid-row
.home-third-grid-row-container
.home-third-grid-row-left,
#home-third-grid-row
.home-third-grid-row-container
.home-third-grid-row-right {    
    display: flex;      
    flex-direction: column; 
}

#home-third-grid-row
.home-third-grid-row-container
.home-third-grid-row-left .mix-dev {
    color: var(--lighter-color);
    font-size: 120px;
    letter-spacing: 4px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#home-third-grid-row
.home-third-grid-row-container
.home-third-grid-row-center {
  background: url(/img/home-bg-soju.png) no-repeat center center/contain;
}

#home-third-grid-row
.home-third-grid-row-container
.home-third-grid-row-right .coct-div {
    width: 100%;
    height: 100%;
    color: var(--lighter-color);
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-third-grid-row
.home-third-grid-row-container
.home-third-grid-row-right .coct-div .h {
    text-transform: uppercase;
    font-size: 30px;   
    font-weight: bold;
    letter-spacing: 6px;
}

#home-third-grid-row
.home-third-grid-row-container
.home-third-grid-row-right .coct-div .h2 {
    font-size: 15px;
    letter-spacing: 3px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 30px;
}

#home-third-grid-row
.home-third-grid-row-container
.home-third-grid-row-right .coct-div .coct-btn {
    border: 8px solid var(--primary-color); 
    padding: 3px 40px 3px 40px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    transition: border linear 0.3s; 
}

#home-third-grid-row
.home-third-grid-row-container
.home-third-grid-row-right .coct-div .coct-btn:hover {
    border: 8px solid var(--lighter-color); 
    transition: border linear 0.3s; 
}

#home-fourth-grid-row .home-fourth-grid-row-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: var(--lighter-color);
  height: 100vh;
  width: 100%;
}

#home-fourth-grid-row
.home-fourth-grid-row-container
.home-fourth-grid-row-content {
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
  margin: auto;
  color: var(--darker-color);
  padding: 0;
  height: 70%;
  width: 40%;
}

#home-fourth-grid-row
.home-fourth-grid-row-container
.home-fourth-grid-row-content .h{    
    font-size: 280px;
    text-transform: uppercase;
    text-align: center;    
    margin: 0;
    margin-top: -90px;
}

#home-fourth-grid-row
.home-fourth-grid-row-container
.home-fourth-grid-row-content .h2{
    font-size: 30px;
    text-transform: uppercase;   
    text-align: center;
    letter-spacing: 5px;    
    margin-top: -80px;
    margin-bottom: 20px;
}

#home-fourth-grid-row
.home-fourth-grid-row-container
.home-fourth-grid-row-content .h3{
    font-size: 15px;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

#home-fourth-grid-row
.home-fourth-grid-row-container
.home-fourth-grid-row-content .contact-btn {
      color: var(--darker-color);
      border: 8px solid var(--primary-color);
      padding: 15px;
      font-size: 40px;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;     
      transition: border linear 0.3s; 
}

#home-fourth-grid-row
.home-fourth-grid-row-container
.home-fourth-grid-row-content .contact-btn:hover {
    border: 8px solid var(--darker-color);
    transition: border linear 0.3s; 
}

/* Product */

#product-showcase {
    color: var(--lighter-color);
    background: var(--dark-color);
    padding: 2rem;
    position: relative;
}
  
#product-showcase:before {
    content: '';
    background: url(/img/product-bg.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    filter: blur(10px);
}
  
#product-showcase .product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
    width: 85%;   
    margin: auto;
}
  
#product-showcase .product-content {
    z-index: 1;
}

.product-container .grid-left,
.product-container .grid-right {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.product-container .grid-left {
    display: flex;
    flex-direction: column;
}

.product-container .grid-left .logo-div {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 400px;   
    align-items: center;    
    text-align: center;
}

.product-container .grid-left .logo-div span:first-child {
    font-size: 100px;  
    font-weight: bold;  
    color: var(--primary-color);
}

.product-container .grid-left .logo-div span:nth-child(2) {
    font-size: 130px;
    font-weight: bold;
    text-transform: uppercase;    
    margin-top: -15%;
}

.product-container .grid-left .logo-div span:nth-child(3) {
    font-size: 17px;
    letter-spacing: 2px;
    margin-top: -6%;
}

.product-container .grid-left .logo-div span:last-child {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    background: var(--primary-color);
    margin-top: 3%;
    padding: 0px 15px 0px 15px;
}

.product-container .grid-left .b-div {
    margin-bottom: -30%;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 70px;
    height: 70px;
    border: solid 2px var(--lighter-color);
    border-radius: 50%;    
}

.product-container .grid-left .b-div:hover {
    opacity: 0.8;
}

.product-container .grid-middle {
    background: url(/img/home-bg-soju.png) no-repeat center center/contain;
}

.product-container .grid-right {
    width: 100%;
    height: 100%;   
    display: flex;
    flex-direction: column;
}

.product-container .grid-right .d-div {
    width: 55%;
    height: 26%;      
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;    
    border: solid 5px var(--lighter-color);   
    margin-bottom: 30px; 
    margin-top: 20%;
}

.product-container .grid-right .d-div .upper {      
    height: 120px;
    border-bottom: solid 5px var(--lighter-color);
}

.product-container .grid-right .d-div .upper span{
    font-size: 85px;
    font-weight: bold;    
}

.product-container .grid-right .d-div .upper span:last-child{
    color: var(--primary-color);    
}

.product-container .grid-right .d-div .lower {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 17px;
    letter-spacing: 2px;
}

.product-container .grid-right .stamp-div {
   display: flex;
   flex-direction: row;
   font-size: 50px;  
}

#product-second-grid-row .product-second-grid-row-container {
    height: 100vh;
    width: 100%;
    background-color: var(--lighter-color);     
}

#product-second-grid-row .product-second-grid-row-container .product-second-grid-row-content .second-grid-row-l {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 90%;
    height: 70%;
}

#product-second-grid-row .product-second-grid-row-container .product-second-grid-row-content .second-grid-row-l .product-second-grid-row-l-t {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#product-second-grid-row .product-second-grid-row-container .product-second-grid-row-content .second-grid-row-l .product-second-grid-row-l-t span:first-child {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#product-second-grid-row .product-second-grid-row-container .product-second-grid-row-content .second-grid-row-l .product-second-grid-row-l-t span:nth-child(2) {
    font-size: 16px;
    letter-spacing: 2.5px;
    text-align: center;
}

#product-second-grid-row .product-second-grid-row-container .product-second-grid-row-content .second-grid-row-l .product-second-grid-row-l-b {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#product-second-grid-row .product-second-grid-row-container .product-second-grid-row-content .second-grid-row-l 
.product-second-grid-row-l-b .row-l-b-l {
    width: 30%;
    height: 100%;
    margin-left: 0;
    border: solid 8px var(--darker-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url(/img/home-bg-soju-icon.png) no-repeat center center/contain;   
}

#product-second-grid-row .product-second-grid-row-container .product-second-grid-row-content .second-grid-row-l 
.product-second-grid-row-l-b .row-l-b-r {
    width: 70%;
    height: 100%;
    margin-left: 0;
    border: solid 8px var(--darker-color);
    border-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#product-second-grid-row .product-second-grid-row-container .product-second-grid-row-content .second-grid-row-l 
.product-second-grid-row-l-b .row-l-b-r span:first-child {
    font-size: 60px;
    font-weight: bold;
    color: var(--primary-color);   
    margin-bottom: -5%; 
}

#product-second-grid-row .product-second-grid-row-container .product-second-grid-row-content .second-grid-row-l 
.product-second-grid-row-l-b .row-l-b-r span:nth-child(2){
    font-size: 90px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -15px;
    margin-bottom: -15px;
}

#product-second-grid-row .product-second-grid-row-container .product-second-grid-row-content .second-grid-row-l 
.product-second-grid-row-l-b .row-l-b-r span:nth-child(3) {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background: var(--second-primary-color);
    padding: 0px 10px 0px 10px;
    margin-bottom: 20px;
}

#product-second-grid-row .product-second-grid-row-container .product-second-grid-row-content .second-grid-row-l 
.product-second-grid-row-l-b .row-l-b-r span:nth-child(4),
#product-second-grid-row .product-second-grid-row-container .product-second-grid-row-content .second-grid-row-l 
.product-second-grid-row-l-b .row-l-b-r span:last-child {
    font-size: 25px;
    text-align: center;
    letter-spacing: 3px;
    margin-top: -10px;
}

#product-second-grid-row .product-second-grid-row-container
.product-second-grid-row-content {
    width: 55%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
}

#product-second-grid-row .product-second-grid-row-container
.product-second-grid-row-content .second-grid-row-r {
    background: url(/img/home-bg-soju.png) no-repeat center center/contain;   
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 90%;
}

/* Mixology Page */
#mixology-showcase {
  width: 100%;
  height: 100vh;
  color: var(--darker-color);
  background: var(--light-grey-color);
  padding: 2rem;
  position: relative;
}

#mixology-showcase .mixology-container {
  display: grid;
  grid-template-rows: 0.3fr 1.7fr; 
  margin: auto;
  width: 100%;
  height: 100%;
}

#mixology-showcase .mixology-container .mixology-container-t {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#mixology-showcase .mixology-container .mixology-container-t span:first-child {
  font-size: 100px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: -12px;
}

#mixology-showcase .mixology-container .mixology-container-t span:last-child {
  font-size: 15px;
  letter-spacing: 3px;
}

#mixology-showcase .mixology-container .mixology-container-b {
  display: flex;
  align-items: center;
  justify-content: center; 
}

#mixology-showcase .mixology-container .mixology-container-b .mixology-container-b-content{
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  width: 100%;
  height: 65%; 
}

#mixology-showcase .mixology-container .mixology-container-b .mixology-container-b-content > * {
  display: flex;
  margin: auto; 
  width: 100%;
  height: 100%;  
}

#mixology-showcase .mixology-container .mixology-container-b .mixology-container-b-content .mix-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-right: 0;
  margin-bottom: 35%;
}

#mixology-showcase .mixology-container .mixology-container-b .mixology-container-b-content .mix-btn a {
  color: var(--darker-color);
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  margin: auto;
  margin-top: 0;
  padding-left: 10px;   
  padding-right: 10px; 
 
  border: solid 4px var(--primary-color);
  transition: border linear 0.3s; 
}

#mixology-showcase .mixology-container .mixology-container-b .mixology-container-b-content .mix-btn a:hover {
  border: solid 4px var(--darker-color);
  transition: border linear 0.3s; 
}

#mixology-showcase .mixology-container .mixology-container-b .mixology-container-b-content .mix-btn a span:first-child,
#mixology-showcase .mixology-container .mixology-container-b .mixology-container-b-content .mix-btn a span:nth-child(2) {
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 5px;
  margin: 0;
  margin-left: -4px;
  margin-top: -7px;
  margin-bottom: -10px;
}

#mixology-showcase .mixology-container .mixology-container-b .mixology-container-b-content .mix-btn a span:nth-child(3) {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;  
  margin: 0;
  margin-left: -2px;
}

#mixology-showcase .mixology-container .mixology-container-b .mixology-container-b-content .mix-1 {
  background: url(/img/soju-1.png) no-repeat center center/contain;   

}
#mixology-showcase .mixology-container .mixology-container-b .mixology-container-b-content .mix-2 {
  background: url(/img/soju-2.png) no-repeat center center/contain;   

}

#mixology-showcase .mixology-container .mixology-container-b .mixology-container-b-content .mix-3 {
  background: url(/img/soju-3.png) no-repeat center center/contain;   

}

#mixology-showcase .mixology-container .mixology-container-b .mixology-container-b-content .mix-4 {
  background: url(/img/soju-4.png) no-repeat center center/contain;   
}

#mixology-showcase .mixology-container .mixology-container-b .mixology-container-b-content .mix-5 {
  background: url(/img/soju-5.png) no-repeat center center/contain; 
}

/* Crafting */
.crafting-grid-row-1 {
  background: url(/img/crafting-bg.jpg) no-repeat center center/cover; 
  color: var(--lighter-color);
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
}

.crafting-grid-row-1 .crafting-g-l {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.crafting-grid-row-1 .crafting-g-l .g-1-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 90%;
  margin: auto;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
}

.crafting-grid-row-1 .crafting-g-l .g-1-content span:first-child {
  font-size: 70px;
  font-weight: bold;  
  text-transform: uppercase;
}

.crafting-grid-row-1 .crafting-g-l .g-1-content span:nth-child(2) {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: var(--primary-color);
  padding: 0px 10px 0px 10px;
  margin-bottom: 50px;
}

.crafting-grid-row-1 .crafting-g-l .g-1-content span:nth-child(3) {
  font-size: 15px;
  line-height: 1.2;
  text-align: center;  
  border: 8px solid var(--lighter-color);
  padding: 15px;
  margin-bottom: 30px;
}

.crafting-grid-row-1 .crafting-g-l .g-1-content .crafting-g-img {
  width: 200px;
  height: 200px;
  border-bottom: 8px solid var(--lighter-color);
  margin-bottom: 15px;
  background: url(/img/crafting-bg-2.png) no-repeat center center/contain; 
}

.crafting-grid-row-1 .crafting-g-l .g-1-content .ft{
  font-size: 15px;
  text-align: center;
  width: 40%;
  margin-bottom: 30px;
}

.crafting-grid-row-1 .crafting-g-l .g-1-content .crafting-btn-div {
  width: 70px;
  height: 70px;
  display: flex;
}

.crafting-grid-row-2 {
  background: var(--lighter-color);
  color: var(--darker-color);
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
}

.crafting-grid-row-2 .crafting-g-r {
  background: url(/img/home-bg-fact.png) no-repeat center center/cover; 
}

.crafting-grid-row-2 .crafting-g-l {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.crafting-grid-row-2 .crafting-g-l .g-1-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 90%;
  margin: auto;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
}

.crafting-grid-row-2 .crafting-g-l .g-1-content span:first-child {
  font-size: 70px;
  font-weight: bold;  
  text-transform: uppercase;
}

.crafting-grid-row-2 .crafting-g-l .g-1-content span:nth-child(2) {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: var(--primary-color);
  color: var(--lighter-color);
  padding: 0px 10px 0px 10px;
  margin-bottom: 50px;
}

.crafting-grid-row-2 .crafting-g-l .g-1-content span:nth-child(3) {
  font-size: 15px;
  line-height: 1.2;
  text-align: center;  
  border: 8px solid var(--darker-color);
  padding: 15px;
  margin-bottom: 30px;
}

.crafting-grid-row-2 .crafting-g-l .g-1-content .crafting-g-img {
  width: 200px;
  height: 200px;
  border-bottom: 8px solid var(--darker-color);
  margin-bottom: 15px;
  background: url(/img/home-bg-production.jpg) no-repeat center center/contain; 
  filter: grayscale(100%);
}

.crafting-grid-row-2 .crafting-g-l .g-1-content .ft{
  font-size: 15px;
  text-align: center;
  width: 40%;
  margin-bottom: 30px;
}

.crafting-grid-row-2 .crafting-g-l .g-1-content .crafting-btn-div {
  width: 70px;
  height: 70px;
  display: flex;
}

.crafting-grid-row-2 .crafting-g-l .g-1-content .crafting-btn-div .crafting-btn {
  color: var(--grey-color);  
}

.crafting-grid-row-3 {
  background: url(/img/crafting-bg-3.jpg) no-repeat center center/cover; 
  color: var(--lighter-color);
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
}

.crafting-grid-row-3 .crafting-g-l {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.crafting-grid-row-3 .crafting-g-l .g-1-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 90%;
  margin: auto;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
}

.crafting-grid-row-3 .crafting-g-l .g-1-content span:first-child {
  font-size: 70px;
  font-weight: bold;  
  text-transform: uppercase;
}

.crafting-grid-row-3 .crafting-g-l .g-1-content span:nth-child(2) {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: var(--primary-color);
  padding: 0px 10px 0px 10px;
  margin-bottom: 50px;
}

.crafting-grid-row-3 .crafting-g-l .g-1-content span:nth-child(3) {
  font-size: 15px;
  line-height: 1.2;
  text-align: center;  
  border: 8px solid var(--lighter-color);
  padding: 15px;
  margin-bottom: 30px;
}

.crafting-grid-row-3 .crafting-g-l .g-1-content .crafting-g-img {
  width: 200px;
  height: 200px;
  border-bottom: 8px solid var(--lighter-color);
  margin-bottom: 15px;
  background: url(/img/crafting-bg-5.png) no-repeat center center/contain; 
}

.crafting-grid-row-3 .crafting-g-l .g-1-content .ft{
  font-size: 15px;
  text-align: center;
  width: 40%;
  margin-bottom: 30px;
}

.crafting-grid-row-3 .crafting-g-l .g-1-content .crafting-btn-div {
  width: 70px;
  height: 70px;
  display: flex;
}

.crafting-grid-row-4 {
  background: var(--lighter-color);
  color: var(--dark-color);
  width: 100%;
  height: 100vh;
  padding: 2rem;
}

.crafting-grid-row-4 .grid-row-4-content {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: auto;
}

.crafting-grid-row-4 .grid-row-4-content .crafting-g-l {
  display: flex;
  align-items: center;
  justify-content: center;
}

.crafting-grid-row-4 .grid-row-4-content .crafting-g-l .g-l-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 70%;  
}

.crafting-grid-row-4 .grid-row-4-content .crafting-g-l .g-l-content span.h {
  width: 60%;
  color: var(--lighter-color);
  font-size: 30px;
  text-align: center;
  line-height: 1.4;
  margin-top: 70px;
  margin-bottom: 50px;
  background: var(--primary-color);
  padding: 50px;
}

.crafting-grid-row-4 .grid-row-4-content .crafting-g-l .g-l-content span.d {
  font-size: 30px;
  text-transform: uppercase;
  color: var(--lighter-color);
  background: var(--primary-color);
  padding: 0px 15px 0px 15px;
  margin-bottom: 50px;
}

.crafting-grid-row-4 .grid-row-4-content .crafting-g-l .g-l-content .g-l-btn-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0;
  width: 100%;
  height: 100%;
}

.g-l-content .g-l-btn-div .g-l-btn-l,
.g-l-content .g-l-btn-div .g-l-btn-r {
  width: 170px;
  height: 170px;
  margin: 10px;
  margin-top: -10px;
}

.g-l-content .g-l-btn-div .g-l-btn-l a,
.g-l-content .g-l-btn-div .g-l-btn-r a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  padding-top: 0;
  border: 8px solid var(--primary-color);
  transition: border 0.2s linear;
}

.g-l-content .g-l-btn-div .g-l-btn-l a:hover,
.g-l-content .g-l-btn-div .g-l-btn-r a:hover {
  border: 8px solid var(--darker-color);
  transition: border 0.2s linear;
}

.g-l-content .g-l-btn-div .g-l-btn-l a > *,
.g-l-content .g-l-btn-div .g-l-btn-r a > * {
  color: var(--darker-color);
  text-transform: uppercase;
  font-size: 47px;
  letter-spacing: 10px;
  margin-bottom: -20px;
  margin-top: -5px;
}

.g-l-content .g-l-btn-div .g-l-btn-l a .ext,
.g-l-content .g-l-btn-div .g-l-btn-r a .ext {
  font-size: 20px; 
  letter-spacing: 0; 
  margin-left: 8px; 
  text-transform: lowercase;
}

.crafting-grid-row-4 .grid-row-4-content .crafting-g-r {
  background: url(/img/home-bg-soju.png) no-repeat center center/contain; 
}

/* Contact */
#contact-container {
  width: 100%;
  height: 1750px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/img/contact-bg.jpg) no-repeat center center/cover;  
}

#contact-container .contact-content {
  width: 35%;
  height: 90%;    
  display: grid;
  grid-template-rows: 0.3fr 1.7fr;
}

#contact-container .contact-content .contact-h {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--lighter-color);
}

#contact-container .contact-content .contact-h span:first-child {
  font-size: 90px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: -10px;
  margin-top: -10px;
}

#contact-container .contact-content .contact-h span:not(:first-child) {
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
}

#contact-container .contact-content .contact-form {
  width: 100%;
  height: 100%;
  padding: 50px;
  justify-self: flex-start;
  margin-top: 30px;
}

#contact-container .contact-content .contact-form .input_field {
  margin-bottom: 15px;
  display: flex;
}

#contact-container .contact-content .contact-form .input_field label {
  color: var(--lighter-color);
  font-size: 25px;
  font-weight: 500;
  width: 130px;
  height: 50px;  
  margin-right: 10px;
}

#contact-container .contact-content .contact-form .input_field label.check {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-self: center;
  margin-top: 30px;
}

#contact-container .contact-content .contact-form .input_field select option { 
  color: var(--darker-color);
  font-size: 19px;
  letter-spacing: 1px; 
}

#contact-container .contact-content .contact-form .input_field .input,
#contact-container .contact-content .contact-form .input_field select,
#contact-container .contact-content .contact-form .input_field .textarea{
  width: 50%;
  height: 60px;
  background: var(--transparent-color);
  outline: none;
  border: 4px solid var(--primary-color);
  border-radius: 3px;
  padding: 8px 15px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: var(--lighter-color);
  font-size: 17px;
  transition: all 0.3s ease;
}

#contact-container .contact-content .contact-form .input_field .textarea {
  height: 120px;
  resize: none;
}

#contact-container .contact-content .contact-form .input_field #capt {
  background: var(--transparent-color);
  text-decoration: none;
  width: 150px;
  height: 50px;
  border: none;
  text-decoration: none;
  box-shadow: none;
  text-align: center;
  font-size: 30px;
  color: var(--lighter-color);
  padding:0; 
}

#contact-container .contact-content .contact-form .code {
  margin-top: -20px;
}

#contact-container .contact-content .contact-form .input_field #capt_btn {
  font-size: 20px;
  color: var(--lighter-color);
  width: 40px;
  height: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#contact-container .contact-content .contact-form .input_field #capt_btn:hover {
  cursor: pointer;
  font-size: 22px;
}

#contact-container .contact-content .contact-form .terms {
  margin-bottom: 100px;
}

#contact-container .contact-content .contact-form .input_field p {  
  width: 90%;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 1.2;
  color: var(--lighter-color);  
}

#contact-container .contact-content .contact-form .input_field p .highlight {
  color: var(--primary-color);
  font-weight: 600;
}

#contact-container .contact-content .contact-form .input_field .form_btn {
  width: 30%;
  align-self: center;
  justify-self: center;
  margin: auto;
  background-color: var(--primary-color);
  border: none;
  color: var(--lighter-color);  
  padding: 25px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 1px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

#contact-container .contact-content .contact-form .input_field .form_btn:hover {
  background-color: var(--lighter-color);
  color: var(--darker-color);
  transition: all 0.4s ease-in-out;
}